img
{
	display: block;
	margin: 0 auto;
	border: 2px solid #666;
}

img:hover
{
	border: 2px solid #999;
}

.album
{
	float: left;
	width: 200px;
	height: 150px;
	padding: 5px;
}

.album:hover
{
	background: #333;
}

.thumbnail
{
	margin: auto;
}

.title
{
	padding-top: 5px;
	font-family: arial;
	font-size: 12px;
	text-align: center;
}

body
{
	background: #000;
	color: #999;
}
